body {
  background: rgb(58, 37, 53)
}

.flexBox {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%
}

.mathCard {
  background: rgb(101, 122, 111);
  border-radius: 0.25rem;
  padding: 4rem
}

.questionText {
  padding-bottom: 2rem
}

.svg {
  height: 18px;
  width: 18px;
  border-radius: 20rem;
}

.correctAnswer {
  color: #34a853;
  font-size: 1.5rem
}
.forms-group {
  color: rgb(201, 23, 112);
}
.btn btn-outline-primary w-100 {
  color: #34a853;
}
.d-flex {
  background-color: aliceblue;
  color: blueviolet;
  border-radius: 8rem;
}
.btn btn-outline-light w-100 mt-3{
  padding: auto;
  background-color: beige;
  border-radius: 10rem;
}